@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Arial', sans-serif;
    background-color: #4CAF50; /* Verde césped */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #043703;
    color: white;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FF0000;
}

main {
    padding: 20px 0;
}

footer {
    background-color: #043703;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
    color: #FF0000;
}

/*responsive*/
@media (max-width: 768px) {
    .container {
        padding: 0 10px; 
    }

    nav ul li {
        display: block;
        margin-bottom: 10px; 
    }

    .btn {
        display: block;
        margin-bottom: 10px;
    }
}
.alert {
    color: #721c24; 
    background-color: #f8d7da; 
    border-color: #f5c6cb; 
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center; 
    width: 50%; 
    margin: 0 auto; 
}
